<!DOCTYPE html>
<html data-ng-app="xiudadaApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="@ViewBag.Description" name="description" />
    <title>@ViewBag.Title</title>
    <base href="/" />
    @RenderMainCss()
</head>
<body ng-controller="AppController" class="page-header-fixed page-sidebar-closed-hide-logo page-on-load" ng-class="{'page-content-white': settings.layout.pageContentWhite,'page-container-bg-solid': settings.layout.pageBodySolid, 'page-sidebar-closed': settings.layout.pageSidebarClosed}">
    @RenderBody()
    @RenderMainScripts()
</body>
</html>

@helper RenderMainCss()
{
List<string> bundles = new List<string>
    {
        "~/css/main"
    };

foreach (string bundle in bundles)
{
        <text>
            <link href="@BundleTable.Bundles.ResolveBundleUrl(bundle)" type="text/css" rel="stylesheet" />
        </text>
}
}

@helper RenderMainScripts()
{
bool needOptimize = false;
    @RenderScriptItem("~/scripts/core", needOptimize)
    @RenderScriptItem("~/scripts/angularjs/app", needOptimize)
}

@helper RenderScriptItem(string bundlePath, bool needOptimize = true)
{
if (needOptimize)
{
        <text>
            <script type="text/javascript" src="@BundleTable.Bundles.ResolveBundleUrl(bundlePath)"></script>
        </text>
}
else
{
        @Scripts.Render(bundlePath)
}
}