<!DOCTYPE html>
<html ng-app="xhApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <base href="/">
    @RenderSection("UsingCss", false)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/scripts/core");
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/angularjs")
    @RenderSection("UsingScript", required: false)
</body>
</html>